{% extends 'base.html' %}
{% block content %}
    <main class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-12 bg-dark bg-gradient text-white text-center">
                <h1>Contactenos para obtener información adicional</h1>
            </div>
        </div>
        {% if 'ok' in request.GET %}
            <div class="row mt-5"> 
                <div class="col-lg-6 sm-12 mx-auto">
                    <p class="alert alert-info text-center text-black">Mensaje enviado correctamente</p>
                </div>
            </div> 
        {% endif%}

        {% if 'error' in request.GET %}
            <div class="row mt-5"> 
                <div class="col-lg-6 sm-12 mx-auto">
                    <p class="alert alert-error text-center text-black">Error al enviar mensaje</p>
                </div>
            </div> 
        {% endif%}
        
        <div class="row mt-5">
            <form action="" method="POST" class="col-lg-6 sm-12 mx-auto">

                {% csrf_token %}
                <div class="form-group">
                    <label for="">Nombre</label>
                    {{form.nombre}}
                    {{form.nombre.errors}}
                </div>
                <div class="form-group">
                    <label for="">Correo</label>
                    {{form.correo}}
                    {{form.correo.errors}}
                </div>
                <div class="form-group">
                    <label for="">Mensaje</label>
                    {{form.mensaje}}
                    {{form.mensaje.errors}}
                </div>
                <button type="submit" class="btn btn-info btn-block">Enviar</button>

            </form>
        </div>
    </main>

{% endblock %}