{% extends "base.html" %}
{% block content%}
    {% load humanize %}
    <main class="container-fluid mt-5">
        <div class= "row">
            <div class= "col-sm-12 bg-dark bg-gradient text-white text-center">
                <h1>Encuentra los Productos de Nuestros Negocios Asociados</h1>
            </div>
        </div>
        <div class="row mt-5">
            {% for p in productos %}
            <div class= "col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class= "card-header {% if p.estaEnOferta %} bg-danger {% else %} bg-warning {% endif %} text-white">
                        <i class="icono-oferta fab fa-shopify"></i>
                        <span>{{p.titulo}}</span> 
                    </div>
                    <div class= "card-body text-center">
                        <img src="{{p.imagen}}" class="img-prod">
                    </div>
                    <div class= "card-footer">
                        {% if p.estaEnOferta %}
                            <h4 class="badge bg-danger texto-oferta"> $ {{p.precio | intcomma}} </h4>
                        {% else %}
                            <h6>$ {{p.precio | intcomma}}</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}